<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleExecutable</key>
        <string>smk</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>1.0</string>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>*</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>NSStringPboardType</string>
                <key>CFBundleTypeOSTypes</key>
                <array>
                    <string>****</string>
                </array>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
            </dict>
        </array>
        <key>CFBundleGetInfoString</key>
        <string>smk</string>
        <key>CFBundleIconFile</key>
        <string>AppIcon</string>
        <key>CFBundleName</key>
        <string>smk</string>
    </dict>
</plist>